{% extends "_base/class.html.jinja" %}

{% block heading scoped %}
  {{ super() }}
  {% if class.relative_filepath and class.lineno and class.endlineno %}
    <a class="doc-source-link"
       href="{{ config.extra.source_repository }}/blob/{{ config.extra.source_ref }}/{{ class.relative_filepath }}#L{{ class.lineno }}-L{{ class.endlineno }}"
       title="View source code">[source]</a>
  {% endif %}
{% endblock heading %}
